{{extend 'layout.html'}}
<div class="container">
    {{=titulo("BOLETOS ","Importar Boletos")}}
    {{=form.custom.begin}}
    <div class="row">
        <div class="col-md-5">
            {{=form.custom.label.csvfile}}
            {{=form.custom.widget.csvfile}}
        </div>  
        <div class="col-md-4">
            {{=form.custom.submit}}
        </div>      
    </div>  

    {{=form.custom.end}}

	<button id="baixar" type="button" class="btn btn-primary right">Baixar Boletos</button>

	<table id="boletos" class="display" cellspacing="0" width="100%">
		<thead>
			<tr>           
				<th>Id</th>
				<th>Documento</th>
				<th>Codigo</th>
				<th>Cliente</th>
				<th>Vencimento</th>
				<th>Credito</th>
				<th class="text-right">Valor</th>
				<th class="text-right">Pago</th>
				<th class="text-right">Desconto</th>
				<th class="text-right">Juros</th>
         
			</tr>
		</thead>
		<tbody>
			{{for r in boletos:}}
			<tr id="{{=r['rowId']}}" >
				<td>{{=r['rowId']}}</td>
				<td>{{=r['documento']}}</td>
				<td>{{=r['codigo']}}</td>
				<td>{{=r['cliente']}}</td>
				<td>{{=r['vencimento']}}</td>
				<td>{{=r['data_credito']}}</td>
				<td class="text-right">{{=r['valor']}}</td>
				<td class="text-right">{{=r['valor_pago']}}</td>
				<td class="text-right">{{=r['desconto']}}</td>
				<td class="text-right">{{=r['juros']}}</td>
			</tr>
			{{pass}}
		</tbody>
	</table>
</div>

<script type="text/javascript">
$(document).ready(function(){
    $('#boletos').DataTable({
        select: true,
        paging: false,
        scrollY: 300,
        scrollCollapse: true,
        searching: false,
        order: [[ 4, 'asc' ]],
        language: {"url": "//cdn.datatables.net/plug-ins/1.10.13/i18n/Portuguese-Brasil.json"},
    });

    var table = $('#boletos').DataTable();
 
    $('#boletos tbody').on( 'click', 'tr', function () {
        $(this).toggleClass('selected');
    } );
 
    $('#baixar').click( function () {
        var resultado = table.rows('.selected').ids();
        var i;
        ids = []
        for (i = 0; i < resultado.length; i++) { 
            ids[i] = resultado[i];
        };
        //$.redirect("{{=URL('baixar')}}",ids);
        $.ajax({
            type: "POST",
            url: "{{=URL('lieto','baixar_boletos')}}",
            data: {
              ids: ids,
              valor: "{{=boletos}}"
            }, 
            success: function(result) {
              alert('ok')
            }
        });
    });
    // desabilita botão 
	$("input[value = 'Mostrar Boletos']").hide();
  	$("input[name = 'csvfile']").on('change',function() {
    	$("input[value = 'Mostrar Boletos']").click();
  	});

});
</script>









