{{include 'modal.html'}}
{{if formItens.create_form or formItens.update_form:}}
    {{=formItens[1].custom.begin}}   
    <div class="row">
        <div class="col-md-5">
            {{=formItens[1].custom.label.anuncio_id}}
            <div class="input-group">
                {{=formItens[1].custom.widget.anuncio_id}}
                <span class="input-group-btn">
                    {{=btnPesquisar}}
                </span>
            </div><!-- /input-group -->
        </div>

        {{=campo(2,formItens[1].custom.label.quantidade,formItens[1].custom.widget.quantidade)}} 
    </div>
    <hr>
    {{=btnRodape(formItens[1].custom.submit,btnVoltar,btnExcluir)}}
    {{=formItens[1].custom.end}}
{{else:}}
    {{=formItens}}
{{pass}}


<script type="text/javascript">
    jQuery(function($){
       $("#envios_itens_anuncio_id").change(function() {
   			$("#envios_itens_quantidade").focus();
		});
    });
</script>

<script type="text/javascript">
    function selecionar(id){
        $('#envios_itens_anuncio_id').val(id).focus();
        hide_modal();
    };
</script>


