{{extend 'layout.html'}}
<div class="container">
	{{=titulo("PRODUTOS ","Importar Produtos: de Lieto para GLM")}}
	{{=form.custom.begin}}
	<div class="row">
		<div class="col-md-2">
			{{=form.custom.label.codpro}}
			{{=form.custom.widget.codpro}}
		</div>
		<div class="col-md-2">
			<div style="margin-top: 22px;">
				{{=form.custom.submit}}
			</div>
		</div>
	</div>
	{{=form.custom.end}}
	<div class="row">
		<p style = "margin: 15px; color:green" > Codigo Produto =  0  para importar todos os Produtos </p>
	</div>
</div>
