{{extend 'layout.html'}}
<div class="container">
    <div class="panel panel-info">
        <div class="panel-heading">
        	<h4>Dados da Empresa</h4>
        </div>
        <div class="panel-body">
        	{{=formEmpresa.custom.begin}}
            <div class="well">
                <div class="row">
                    <div class="col-md-4">
                        {{=formEmpresa.custom.label.nome}}
                        {{=formEmpresa.custom.widget.nome}}
                    </div>
                    <div class="col-md-2">
                        {{=formEmpresa.custom.label.desconto}}
                        {{=formEmpresa.custom.widget.desconto}}
                    </div>
                    <div class="col-md-2">
                        {{=formEmpresa.custom.label.premium}}
                        {{=formEmpresa.custom.widget.premium}}
                    </div>
                    <div class="col-md-2">
                        {{=formEmpresa.custom.label.classico}}
                        {{=formEmpresa.custom.widget.classico}}
                    </div>
                </div>
                <div class="row">
                    <p></p>
                </div>
            </div>
            <div class="right">
                {{=formEmpresa.custom.submit}}
            </div>     
            {{=formEmpresa.custom.end}}
		</div>
	</div>
</div>