{{extend 'layout.html'}}

<div class="container">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h4>Cadastro de Produtos</h4>
        </div>
        <div class="panel-body">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#home">Dados</a></li>
                <li><a data-toggle="tab" href="#menu1">Descrição</a></li>
                <li><a data-toggle="tab" href="#menu2">Imagens</a></li>
            </ul>
            <div class="tab-content">
                <div id="home" class="tab-pane fade in active"> 
        	{{=formProduto.custom.begin}}
            <div class="well">
                <div class="row">
                    <div class="col-md-6">
                        {{=formProduto.custom.label.nome}}
                        {{=formProduto.custom.widget.nome}}
                    </div>
                    <div class="col-md-3">
                        {{=formProduto.custom.label.atributo}}
                        {{=formProduto.custom.widget.atributo}}
                    </div>
                    <div class="col-md-3">
                        {{=formProduto.custom.label.variacao}}
                        {{=formProduto.custom.widget.variacao}}
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-3">
                        {{=formProduto.custom.label.ean}}
                        {{=formProduto.custom.widget.ean}}
                    </div>
                    <div class="col-md-3">
                        {{=formProduto.custom.label.marca}}
                        {{=formProduto.custom.widget.marca}}
                    </div>
                    <div class="col-md-3">
                        {{=formProduto.custom.label.preco}}
                        {{=formProduto.custom.widget.preco}}
                    </div>
                    <div class="col-md-3">
                        {{=formProduto.custom.label.estoque}}
                        {{=formProduto.custom.widget.estoque}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        {{=formProduto.custom.label.ncm}}
                        {{=formProduto.custom.widget.ncm}}
                    </div>
                    <div class="col-md-2">
                        {{=formProduto.custom.label.peso}}
                        {{=formProduto.custom.widget.peso}}
                    </div>
                    <div class="col-md-1">
                        {{=formProduto.custom.label.origem}}
                        {{=formProduto.custom.widget.origem}}
                    </div>
                   <div class="col-md-2">
                        {{=formProduto.custom.label.largura}}
                        {{=formProduto.custom.widget.largura}}
                    </div>
                    <div class="col-md-2">
                        {{=formProduto.custom.label.altura}}
                        {{=formProduto.custom.widget.altura}}
                    </div>
                    <div class="col-md-2">
                        {{=formProduto.custom.label.comprimento}}
                        {{=formProduto.custom.widget.comprimento}}
                    </div> 
                </div>
                <div class="row">
                    <p></p>
                </div>
            </div>
            </div>
            <div id="menu1" class="tab-pane fade">
                {{=formProdutoDescricao}}
            </div>
            <div id="menu2" class="tab-pane fade">
                {{=formProdutoImagem}}
            </div>

            <div class="right">
                {{=formProduto.custom.submit}}
                {{=btnVoltar}}
            </div>
            {{=formProduto.custom.end}}
		</div>
	</div>
</div>

