<div class="well">
    {{=formProduto.custom.begin}}
    <div class="row">
        <div class="col-md-6">
            {{=formProduto.custom.label.produto}}
            {{=formProduto.custom.widget.produto}}
        </div>
        <div class="col-md-2">
            {{=formProduto.custom.label.quantidade}}
            {{=formProduto.custom.widget.quantidade}}
        </div>
        <div class="col-md-3">
            <div style="margin-top: 22px;">{{=formProduto.custom.submit}}</div>
        </div>
    </div>
    {{=formProduto.custom.end}}
    <div class="row">
        {{=formProdutos}}
    </div>
</div>
