<style>
    p{
    font-size: 20px;
    }
</style>

<div class="row" style="margin-top: 25px">
    <div class="col-md-6">
        <label>Título:</label>
        <p><strong style="font-size: 25px">{{=anuncio.titulo}}</strong></p>
    </div>      
    <div class="col-md-2">
        <label>Categoria:</label>
        <p>{{=anuncio.categoria}}</p>
    </div>
    <div class="col-md-2">
        <label>Tipo de Anuncio:</label>
        <p>{{=anuncio.tipo}}</p>
    </div>       
    <div class="col-md-2">
        <label>Condição:</label>
        <p>{{=anuncio.condicao}}</p>
    </div>       
</div>
<div class="row">
    <div class="col-md-3">
        <label>Preço:</label>
        <p>{{=anuncio.preco}}</p>
    </div>
    <div class="col-md-3">
        <label>Estoque:</label>
        <p>{{=anuncio.estoque}}</p>
    </div>    
</div>  
<div class="row">
    <div class="col-md-12">
        {{=btnPublicar}}    
    </div>      
</div>               
