{{extend 'layout.html'}}
{{include 'modal.html'}}
<div class="container">
    <div class="panel panel-info">
        <div class="panel-heading"><h4>Cadastro de Anuncios</h4></div>
        <div class="panel-body">
            <ul class="nav nav-tabs">
                <li class="active"><a id='dados' data-toggle="tab" href="#home">Dados</a></li>
                    <li><a data-toggle="tab" href="#menu1">Descrição</a></li>
                    <li><a data-toggle="tab" href="#menu2">Produtos</a></li>
                    <li><a id='atributos' data-toggle="tab" href="#menu3">Atributos</a></li>
                    <li><a data-toggle="tab" href="#menu4">Imagens</a></li>
                    <li><a id='preco' data-toggle="tab" href="#menu5">Preço</a></li>
                    <li><a id='publicar' data-toggle="tab" href="#menu6">Publicar</a></li>
                </ul>
            <div class="tab-content">
                <div id="home" class="tab-pane fade in active">
                     {{=formAnuncio.custom.begin}}
                    <div class="well">
                        <div class="row">
                            <div class="col-md-4">
                                {{=formAnuncio.custom.label.familia}}
                                {{=formAnuncio.custom.widget.familia}}
                            </div>
                            <div class="col-md-8">
                                {{=formAnuncio.custom.label.titulo}}
                                {{=formAnuncio.custom.widget.titulo}}
                            </div>                
                        </div>
                        <div class="row">
                          <div class="col-md-4">
                                {{=formAnuncio.custom.label.desconto}}
                                {{=formAnuncio.custom.widget.desconto}}
                            </div>

                            <div class="col-md-4">
                                {{=formAnuncio.custom.label.tipo}}
                                {{=formAnuncio.custom.widget.tipo}}
                            </div>
                            <div class="col-md-4">
                                {{=formAnuncio.custom.label.frete}}
                                {{=formAnuncio.custom.widget.frete}}
                            </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                                {{=formAnuncio.custom.label.categoria}}
                                {{=formAnuncio.custom.widget.categoria}}
                            </div>

                            <div class="col-md-6">
                                {{=formAnuncio.custom.label.garantia}}
                                {{=formAnuncio.custom.widget.garantia}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                {{=formAnuncio.custom.label.forma}}
                                {{=formAnuncio.custom.widget.forma}}
                            </div>
                            <div class="col-md-4">
                                {{=formAnuncio.custom.label.status}}
                                {{=formAnuncio.custom.widget.status}}
                            </div>
                              <div class="col-md-4">
                                {{=formAnuncio.custom.label.item_id}}
                                {{=formAnuncio.custom.widget.item_id}}
                            </div>
                        </div>
                    </div>
                    <div style="margin-left:20px;">
                        {{=formAnuncio.custom.submit}}
                    </div>
                    {{=formAnuncio.custom.end}}
                </div>
                <div id="menu1" class="tab-pane fade">
                    {{=formAnuncioDescricao}}
                </div>
                <div id="menu2" class="tab-pane fade">
                    {{=formAnuncioProdutos}}
                </div>
                <div id="menu3" class="tab-pane fade">
                    {{=formAnuncioAtributos}}
                </div>
                <div id="menu4" class="tab-pane fade">                    
                    {{=formAnuncioImagem}}
                </div>
                <div id="menu5" class="tab-pane fade">    
                    {{=formAnuncioPreco}}
                </div>
                <div id="menu6" class="tab-pane fade">    
                    {{=formAnuncioPublicar}}
                </div>
                <div class="right">
                    {{=btnNovo}}
                    {{=btnVoltar}}
                    {{=btnExcluir}}
                </div> 
            </div>
        </div>
    </div>
</div>

<script>
$(document).on("click","#preco", function(){
    $('#anunciospreco').get(0).reload()
});
$(document).on("click","#publicar", function(){
    $('#anunciospublicar').get(0).reload()
});
$(document).on("click","#atributos", function(){
    $('#anunciosatributos').get(0).reload()
});
$(document).on("click","#dados", function(){
    location.reload();
});

</script>
